@import 'variables';

.accountSetup {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/advert_background.png");
    // Remember to change to the correct image
    display: flex;
    justify-content: center;
    align-items: center;

    .center {
        width: 30%;
        height: 85%;
        padding: 20px;
        justify-content: space-evenly;
        background-color: $specialWhite;
        box-shadow: 1px 1px 1px 0px $grey;
        z-index: 4;
        border-radius: $buttonBorderRadius;
        display: flex;
        flex-direction: column;

        .header {
            color: $darkPrimaryColor;
            font-size: 28px;
        }

        &_label {
            font-size: small;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            label {
                color: $darkGrey
            }

            input {
                @include inputBox;

                &::placeholder {
                    font-family: 'Lato' !important;
                }
            }

            input[type='submit'] {
                background-color: $darkPrimaryColor;
                color: $specialWhite;
                border: none;
                cursor: pointer;
            }
        }

    }


    .bottom {
        position: fixed;
        bottom: 0;
        z-index: 3;
        background-color: $specialWhite;
        height: 50%;
        width: 100vw;
        border-radius: 100% 100% 0px 0px;
    }
}