@import 'variables';

.accountSetup {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/account_background.png");
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .center {
        width: 30%;
        height: 85%;
        padding: 20px;
        justify-content: space-evenly;
        background-color: $specialWhite;
        box-shadow: 1px 1px 1px 0px $grey;
        z-index: 4;
        border-radius: $buttonBorderRadius;
        display: flex;
        flex-direction: column;

        .column {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;

            .header {
                color: $darkPrimaryColor;
                font-size: 28px;
            }

            &_label {
                font-size: small;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin: 0px;

            label {
                color: $darkGrey
            }

            input,
            select {
                @include inputBox;


                &::placeholder {
                    font-family: 'Lato' !important;
                    color: $darkGrey
                }

                &:hover {
                    border-color: $primaryColor;
                    animation: blink 0.1s;
                }

                @keyframes blink {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.1);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }

            select {
                color: $darkGrey;
            }

            input[type='submit'] {
                background-color: $darkPrimaryColor;
                color: $specialWhite;
                border: none;
                cursor: pointer;
                margin-top: 20px;
            }
        }

    }


    .bottom {
        position: fixed;
        bottom: 0;
        z-index: 3;
        background-color: $specialWhite;
        height: 40%;
        width: 100vw;
        border-radius: 100% 100% 0px 0px;
    }
}