@import '../styles/variables.scss';

.signup {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/account_background.png");
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .center {
        width: 30%;
        height: 80%;
        padding: 20px;
        justify-content: space-between;
        background-color: $specialWhite;
        box-shadow: 1px 1px 1px 0px $grey;
        z-index: 4;
        border-radius: $buttonBorderRadius;
        display: flex;
        flex-direction: column;


        .header {
            color: $darkPrimaryColor;
            font-size: 28px;
        }

        &_label {
            font-size: small;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

            :nth-child(odd) {
                margin-top: 10px;
            }

            label {
                color: $darkGrey
            }

            input {
                @include inputBox;

                &::placeholder {
                    font-family: 'Lato' !important;
                }
            }

            input[type='submit'] {
                background-color: $darkPrimaryColor;
                color: $specialWhite;
                border: none;
                cursor: pointer;

                &:hover {
                    @include scaleHoverAnimation;
                }
            }

            p {
                color: $specialBlack;
                font-size: 14px;

                span {
                    color: $darkPrimaryColor;
                }
            }
        }
    }

    .bottom {
        position: fixed;
        bottom: 0;
        z-index: 3;
        background-color: $specialWhite;
        height: 40%;
        width: 100vw;
        border-radius: 100% 100% 0px 0px;
    }
}