@import '../styles/variables.scss';
//Not in proper scss syntax because its ctrl + c, ctrl + v

.features {
    height: 70vh;
    background-color: $specialWhite;
    padding: $padding;
    backdrop-filter: blur(10px);
}

.features_section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.features_section-1 {
    width: 100%;
    height: 100%;
    padding: $padding;
    display: flex;
    flex-direction: column;
    gap: $padding;
}

.features_section-1 .header1 {
    color: $darkPrimaryColor;
    font-size: 32px;
}

.features_section-1 .header2 {
    color: $darkPrimaryColor;
    font-size: 20px;
    margin-top: 50px;
}

.features_section-2 {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.features_section-2 .section_card {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: $specialWhite;

}

.features_section-2 .section_card img {
    width: $padding;
    height: $padding;
}

.features_section-2 .section_card h3 {
    color: $specialBlack;
    font-size: 16px;
    text-align: center;
}