@import '../styles/variables.scss';


.footer {
    height: 70vh;
    background-color: $specialBlack;
    display: flex;
    flex-direction: column;
    padding: $padding;

    &_top {
        height: 90%;
        display: flex;
        flex-direction: row;
        padding-bottom: 10px;

        &_grid {
            width: 60%;
            display: grid;
            padding: 10px;
            gap: 10px;
            grid-template-columns: repeat(2, 1fr);

            &_card {
                @include flex-column;
                width: 100%;
                height: 100%;
                gap: 10px;
                justify-content: flex-end;
                color: $specialWhite;

                .logoImage {
                    // please change logo to actual logo
                    background: url("../assets/wehub_logo.jpg");
                    background-position: center;
                    background-size: contain;
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;
                }

                h4 {
                    font-size: 14px;
                }

                h5 {
                    font-size: 16px;
                }
            }
        }

        &_col {
            width: 40%;
            @include flex-column;
            justify-content: space-evenly;
            padding: 10px;

            h1 {
                color: $specialWhite;
                font-size: 32px;
            }

            &_button {
                cursor: pointer;
                padding-top: 20px !important;
                padding-bottom: 20px !important;
                @include normal_button;
                text-align: center;

                &:hover {
                    @include scaleHoverAnimation;
                    transition: 1s !important;
                    transform: scale(1.1);
                }
            }
        }
    }

    &_bottom {
        height: 10%;
        border-top: 1px solid $specialWhite;
        display: flex;
        justify-content: center;
        align-items: center;

        .orgName {
            color: $specialWhite;
            font-size: 16px;
        }
    }
}